.pricing-table {
  width: 100%;
  margin-bottom: 1em;
}
.pricing-table thead th {
  width: 20%;
}
.pricing-table thead th:first-child {
  width: 30%;
}
.pricing-table thead th:nth-child(2) {
  width: 10%;
}
.pure-table .separated-row {
  border-bottom: 1px solid #cbcbcb;
}
