<form class="" data-netlify="true" name="contact">
  <fieldset>
    <label for="name">
      Name
      <input id="name" name="name" type="text" placeholder="Name">
    </label>

    <label for="email">
      Email
      <input id="email" name="email" type="email" placeholder="Email">
    </label>

    <label for="message">
      Message
      <textarea id="message" name="message" style="width:100%;"></textarea>
    </label>

    <button type="submit" class="button icon solid fa-arrow-circle-right">Send</button>
  </fieldset>
</form>
