---
title: Happy Thai
layout: "page"
---
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">
          <h2>About Mam</h2>
          <p>Hello everyone</p>
          <p>Thank for visiting. Great to have you here.</p>
          <p>I’m Mam. I am an experienced Thai teacher and I want to help you overcome any cultural or communication problems and experience a happy life in Thailand.</p>
          <p><strong>Are you struggling with life in Thailand?</strong></p>
          <ul>
            <li>Do you get bored when surrounded with Thai people and don't understand a word?</li>
            <li>Do you want to make a new Thai friend but have no idea how to start?</li>
            <li>Do you want to try new Thai dishes in local area?</li>
            <li>Have you tried to get local help from a business but don’t know how to ask for help?</li>
            <li>Upset with dual price just because they think you don’t know Thai?</li>
            <li>Have you been in Thailand for long time and you still aren't confident enough to speak to your neighbor?</li>
          </ul>
          <p><strong>Let me help you with that!</strong></p>
          <p>My Thai lessons are focused on your lifestyle and I am flexible so you can live a happy life in Thailand.</p>
          <p>If you are a tourist who plans to stay in Thailand for short time but still want to have successful communication, I am here for you.</p>
          <p>If you plan to live in Thailand long term, I also provide lessons from beginner to advanced. You can have one-on-one classes that are the most successful way to begin. Or you can come with your friend or your partner to have a duo class that will provide a fun learning expirence together. I also teach big classes for families or a big group that want to learn Thai together.</p>
          <p>You can learn Thai from wherever you are through Skype for online classes. And if you are in Chiang Mai Thailand, you can have a private class in the area too.</p>
          <p>I will help you establish a bridge that will expose yourself to a Thai culture, a Thai method of thinking and a Thai life.</p>
          <p>Get in touch <a href="/contact.html">CONTACT ME</a> so we can chat and find out what you wish to achieve and if I am the right person for you.</p>
        </div>
      </div>

      <div class="col-4 col-12-medium">
        <%= partial 'general_sidebar' %>
      </div>
    </div>
  </div>
</div>
