---
title: Happy Thai Blog
layout: "page"
---
<div class="splash-container small-splash-container">
  <div class="splash">
    <h1 class="splash-head">Happy Thai Blog</h1>
  </div>
</div>

<div class="content-wrapper small-content-wrapper">
  <div class="content">
    <% blog.articles.each do | article | %>
      <article>
        <h2><%= article.title %></h2>
        <%= article.thumbnail %>
        <%= article.description %>
        <%= link_to 'Read more', article %>
      </article>
    <% end %>
  </div>
</div>  
