---
title: Happy Thai Blog
layout: "page"
---
<div class="splash-container small-splash-container" style="background: url(/images/mam-sign.jpg) no-repeat center center scroll; background-size: cover;">
  <div class="splash">
  </div>
</div>

<div class="content-wrapper small-content-wrapper">
  <div class="content">
    <% blog.articles.each do |article| %>
      <%= partial 'blog_article_summary', locals: { article: article } %>
    <% end %>
  </div>
</div>  
