---
title: Happy Thai
layout: "page"
---
<div class="splash-container small-splash-container">
  <div class="splash">
    <h1 class="splash-head">Contact Mam</h1>
  </div>
</div>

<div class="content-wrapper small-content-wrapper">
  <div class="content">
      <div class="pure-g">
          <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked" data-netlify="true" name="contact">
              <fieldset>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="Name">

                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Email">

                <label for="message">Message</label>
                <textarea id="message" name="message" style="width:100%;"></textarea>

                <button type="submit" class="pure-button">Send</button>
              </fieldset>
            </form>
          </div>

          <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>Contact Mam</h4>
            <p>If you have any questions about availability or pricing please don't hesitate to contact me using the form on this page or any of the social media platforms listed below.
            </p>

            <h4>Social Media</h4>
            <div class="social-links">
              <% link_to 'https://www.twitter.com' do %>
                <i class="fa fa-twitter-square"></i>
              <% end %>
              <% link_to 'https://www.facebook.com' do %>
                <i class="fa fa-facebook-square"></i>
              <% end %>
              <% link_to 'https://www.instagram.com' do %>
                <i class="fa fa-instagram"></i>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>  
