---
title: Happy Thai
layout: "page"
---
<div class="splash-container small-splash-container">
  <div class="splash">
    <h1 class="splash-head">Contact Mam</h1>
  </div>
</div>

<div class="content-wrapper small-content-wrapper">
  <div class='content'>
    <%= partial 'contact_form' %>
    <div class="pure-g">
      <div class="pure-u-1">
        <h2>Chiang Mai, Thailand</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79020.59334144274!2d98.93187736825853!3d18.782018050049608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a7e90bb6f5d%3A0x98d46270a59b4367!2sChiang%20Mai%2C%20Mueang%20Chiang%20Mai%20District%2C%20Chiang%20Mai!5e0!3m2!1sen!2sth!4v1571183501895!5m2!1sen!2sth" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        <h2>Department of Business Development</h2>
        <%= image_tag 'dbd.jpg', style: 'float: left;' %>
        <p>ร้านค้าออนไลน์นี้ได้แจ้งการเป็นผู้ประกอบธุรกิจพาณิชย์อิเล็กทรอนิกส์ด้วยการขอรับเครื่องหมาย DBD Registered กับทางกรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์</p>
        <p>This online store was registered as an as e-Commerce business owner by receiving the "DBD Registered" trademark from the Department of Business Development, Ministry of Commerce of Thailand</p>
        <p>For further registration details please contact us using the form above.</p>
      </div>
    </div>
  </div>
</div>  
