---
title: Happy Thai - Corporate Thai Lessons
layout: "sidebar"
---
<h2>Corporate Thai Lessons</h2>
<p>
  Do you have staff located in Thailand or are you dealing with Thai speaking clients? Providing your staff with Thai
  lessons is a great way keep them engaged with the local culture and also provides a wonderful group activity to keep
  your staff learning together.
</p>

<p>
  I can conduct the lessons online or in person if you are located in Chiang Mai, use the calednar below to book a time
  to chat about your specific needs or use the details on the<a href="/contact.html">contact page</a> to get in touch.
</p>

<%= partial 'calendar' %>
