---
title: Happy Thai - Family Thai Lessons
layout: "sidebar"
---
<h2>Family Thai Lessons</h2>
<p>
  If you and your family are looking to spend an extended time in Thailand then having a basic working knowledge of
  the Thai language will make your life easier and more enjoyable. Not only will learning Thai be super useful
  it's also a great family activity to bring the family together.
</p>

<p>
  In the past I've have taught families all in one group or I can do separate lessons for the children and adults.
</p>

<p>
  I can conduct the lessons online or in person if you are located in Chiang Mai, use the details on the
  <a href="/contact.html">contact page</a> to get in touch or book your first free lesson using the button below
</p>

<p>
  <a class="button icon solid fa-arrow-circle-right" href="/free.html">Free Lesson</a>
</p>

<div class="image">
  <%= image_tag "family.jpg" %>
</div>

