---
title: Happy Thai - First lesson free
layout: "sidebar"
---
<h2>First Lesson Free</h2>
<p style="margin-bottom: 0;">
  Sometimes it's just easier to talk rather than read pages of information about an online teacher.
  Use the calendar below to book your first free online lesson with me, we can learn about any topic you are
  interested in or just chat about online learning.
</p>

<%= partial 'calendar' %>
