---
title: Happy Thai
layout: "page"
---
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Online Thai Lessons</h1>
    <p class="splash-subhead">Learn Thai online with your Thai teacher Mam</p>
    <p><a href="/lessons" class="pure-button pure-button-primary">Get Started</a></p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">I can help you with...</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Private lessons
        </h3>
        <p>1 on 1 lessons are the perfect way to improve your Thai language. Take a look at my <%= link_to 'lessons', '/lessons' %> page to learn more.</p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          Translation services
        </h3>
        <p>If you have an English or Thai document you need translated I can get it done quickly and professionally.</p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          Group classes
        </h3>
        <p>I've taught hundreds of hours of group classes for students from all around the world. For enquires about prices and availability send me a message on the <%= link_to 'contact', '/contact' %> page.</p>
      </div>
    </div>
  </div>
</div>
