---
title: Happy Thai
layout: "page"
---
<!-- Banner -->
<div id="banner-wrapper">
  <div class="box container" id="banner">
    <div class="row">
      <div class="col-7 col-12-medium">
        <h2>Hi. I'm Mam.</h2>
        <p>I teach <strong>Thai online</strong> to students all around the world.</p>
      </div>
      <div class="col-5 col-12-medium">
        <ul>
          <li><a class="button large icon solid fa-arrow-circle-right" href="/free.html">Free lesson</a></li>
        </ul>
        <p class="sub-text">Book your first 1 hour lesson for free!</p>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-4 col-12-medium">

        <!-- Box -->
        <section class="box feature">
          <a class="image featured" href="/free.html"><img alt="" src="images/pic01.jpg"/></a>
          <div class="inner">
            <header>
              <h2>Private online lessons</h2>
            </header>
            <p>Having private lessons with me is the absolute best way to improve your Thai language skills.</p>
            <p>Your first lesson is free so why not <a href="/free.html">book now</a></p>
          </div>
        </section>

      </div>
      <div class="col-4 col-12-medium">

        <!-- Box -->
        <section class="box feature">
          <a class="image featured" href="/family.html"><img alt="" src="images/pic02.jpg"/></a>
          <div class="inner">
            <header>
              <h2>Family lessons</h2>
            </header>
            <p>Have you and your family moved to Thailand and you want to make your life easier by speaking Thai?</p>
            <p>I love teaching students of all ages, learn more on my <a href="/family.html">family lessons page</a>.</p>
          </div>
        </section>

      </div>
      <div class="col-4 col-12-medium">

        <!-- Box -->
        <section class="box feature">
          <a class="image featured" href="/corporate.html"><img alt="" src="images/pic03.jpg"/></a>
          <div class="inner">
            <header>
              <h2><a href="/corporate.html">Corporate lessons</a></h2>
            </header>
            <p>Having your foreign staff speak the local language helps improve staff retention and happiness</p>
            <p>Lessons can be online or in person, read more on my <a href="/corporate.html">corporate lessons page</a>.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">

        <!-- Sidebar -->
        <div id="sidebar">
          <section class="widget thumbnails">
            <div class="grid">
              <div class="row gtr-50">
                <div class="col-6"><a class="image fit" href="#"><img alt=""
                                                                      src="images/pic04.jpg"/></a></div>
                <div class="col-6"><a class="image fit" href="#"><img alt=""
                                                                      src="images/pic05.jpg"/></a></div>
                <div class="col-6"><a class="image fit" href="#"><img alt=""
                                                                      src="images/pic06.jpg"/></a></div>
                <div class="col-6"><a class="image fit" href="#"><img alt=""
                                                                      src="images/pic07.jpg"/></a></div>
              </div>
            </div>
          </section>
        </div>

      </div>
      <div class="col-8 col-12-medium imp-medium">

        <!-- Content -->
        <div id="content">
          <section class="last">
            <h2>Let me introduce myself</h2>
            <p>I’m Mam. I am an experienced Thai teacher and I want to help you overcome any cultural or communication
              problems and experience a happy life in Thailand.</p>
            <p>I have been teaching Thai for over 9 years to students from all around the world and I love to watch
              my students become more confident in their daily lives as they learn to communicate with other Thai
              speakers in their lives.</p>
            <p>To read more about me and what I can do for you head over to my <a href="#">about page</a> or if you
              prefer to chat why not book your first free lesson right now using the button below.</p>
            <a class="button icon solid fa-arrow-circle-right" href="#">Free Lesson</a>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>
