---
title: Happy Thai
layout: "page"
---
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">
          <h2>Prices</h2>
          <table class="pure-table pricing-table">
            <thead>
            <tr>
              <th>Private</th>
              <th>Hours</th>
              <th>Rate</th>
              <th>Per hour</th>
            </tr>
            </thead>
            <tbody>
            <tr class="separated-row">
              <td>Tourist Thai</td>
              <td>6</td>
              <td>2,400 Baht</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Everyday Thai</td>
              <td>12</td>
              <td>4,800</td>
              <td>400</td>
            </tr>
            <tr>
              <td></td>
              <td>24</td>
              <td>9,360</td>
              <td>390</td>
            </tr>
            <tr>
              <td></td>
              <td>36</td>
              <td>13,500</td>
              <td>375</td>
            </tr>
            </tbody>
          </table>

          <table class="pure-table pricing-table">
            <thead>
            <tr>
              <th>Duo Class for 2</th>
              <th>Hours</th>
              <th>Rate per person</th>
              <th>Per hour</th>
            </tr>
            </thead>
            <tbody>
            <tr class="separated-row">
              <td>Tourist Thai</td>
              <td>6</td>
              <td>2,250 Baht</td>
              <td>375</td>
            </tr>
            <tr>
              <td>Everyday Thai</td>
              <td>12</td>
              <td>4,500</td>
              <td>375</td>
            </tr>
            <tr>
              <td></td>
              <td>24</td>
              <td>8,760</td>
              <td>365</td>
            </tr>
            <tr>
              <td></td>
              <td>36</td>
              <td>12,600</td>
              <td>350</td>
            </tr>
            </tbody>
          </table>

          <table class="pure-table pricing-table">
            <thead>
            <tr>
              <th>Family class up to 6</th>
              <th>Hours</th>
              <th>Rate per person</th>
              <th>Per hour</th>
            </tr>
            </thead>
            <tbody>
            <tr class="separated-row">
              <td>Tourist Thai</td>
              <td>6</td>
              <td>1,800 Baht</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Everyday Thai</td>
              <td>12</td>
              <td>3,600</td>
              <td>300</td>
            </tr>
            <tr>
              <td></td>
              <td>24</td>
              <td>6,960</td>
              <td>290</td>
            </tr>
            <tr>
              <td></td>
              <td>36</td>
              <td>9,000</td>
              <td>250</td>
            </tr>
            </tbody>
          </table>

          <h2>Valid Period</h2>
          <p>The hours purchased in each package must be used within 6 months or they will expire.</p>

          <h2>Payments</h2>
          <p>All payments are to be made before starting lessons and can be made using the following payment methods.</p>
          <ul>
            <li><a href="https://www.paypal.com/">PayPal</a> transfer</li>
            <li>Visa or Mastercard</li>
            <li>Direct Bank Transfer</li>
          </ul>
        </div>

      </div>

      <div class="col-4 col-12-medium">
        <%= partial 'general_sidebar' %>
      </div>
    </div>
  </div>
</div>
