---
title: Happy Thai
layout: "page"
---
<div class="splash-container small-splash-container">
  <div class="splash">
    <h1 class="splash-head">Prices</h1>
  </div>
</div>

<div class="content-wrapper small-content-wrapper">
  <div class="content">
    <table class="pure-table pricing-table">
      <thead>
        <tr>
          <th>Private</th>
          <th>Hours</th>
          <th>Rate</th>
          <th>Per hour</th>
          <th>Valid Period</th>
        </tr>
      </thead>
      <tbody>
        <tr class="separated-row">
          <td>Tourist Thai</td>
          <td>6</td>
          <td>2,400</td>
          <td>400</td>
          <td>1 week</td>
        </tr>
        <tr>
          <td>Everyday Thai</td>
          <td>12</td>
          <td>4,800</td>
          <td>400</td>
          <td>2 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>24</td>
          <td>9,360</td>
          <td>390</td>
          <td>4 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>36</td>
          <td>13,500</td>
          <td>375</td>
          <td>6 weeks</td>
        </tr>
      </tbody>
    </table>

    <table class="pure-table pricing-table">
      <thead>
        <tr>
          <th>Duo Class for 2</th>
          <th>Hours</th>
          <th>Rate per person</th>
          <th>Per hour</th>
          <th>Valid Period</th>
        </tr>
      </thead>
      <tbody>
        <tr class="separated-row">
          <td>Tourist Thai</td>
          <td>6</td>
          <td>2,250</td>
          <td>375</td>
          <td>1 week</td>
        </tr>
        <tr>
          <td>Everyday Thai</td>
          <td>12</td>
          <td>4,500</td>
          <td>375</td>
          <td>2 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>24</td>
          <td>8,760</td>
          <td>365</td>
          <td>4 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>36</td>
          <td>12,600</td>
          <td>350</td>
          <td>6 weeks</td>
        </tr>
      </tbody>
    </table>

    <table class="pure-table pricing-table">
      <thead>
        <tr>
          <th>Family class up to 6</th>
          <th>Hours</th>
          <th>Rate per person</th>
          <th>Per hour</th>
          <th>Valid Period</th>
        </tr>
      </thead>
      <tbody>
        <tr class="separated-row">
          <td>Tourist Thai</td>
          <td>6</td>
          <td>1,800</td>
          <td>300</td>
          <td>1 week</td>
        </tr>
        <tr>
          <td>Everyday Thai</td>
          <td>12</td>
          <td>3,600</td>
          <td>300</td>
          <td>2 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>24</td>
          <td>6,960</td>
          <td>290</td>
          <td>4 weeks</td>
        </tr>
        <tr>
          <td></td>
          <td>36</td>
          <td>9,000</td>
          <td>250</td>
          <td>6 weeks</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  
